*{
    /*border:red solid 5px;*/
}
html{
    position:absolute;
    width:100vw;
    height:100vh;
    font-family:sans-serif;
}
body{
    background: #06071E;
    display: flex;
    padding:0px;
    margin:0px;

}

.hidden{/*objects that are invisible*/
    display: none !important;
}

#confirm-box{
    height:fit-content;
    max-height: 300px;
    padding:10px;
    z-index: 1001;
    top:calc(100vh - 600px );
    border: solid 1.5px white;
}


#confirm-dialogue{
    text-align: center;
}

#confirm-tint{
    position:fixed;
    height:110vh;
    width:100vw;
    top:0;
    right:0;
    background-color: rgb(0, 0, 0);
    opacity:64%;
    z-index: 999;
    overflow: hidden;
    display:none;
}
/*elements that the user cannot interact with*/
.dni{
    pointer-events: none;
}
#left-side{
    width:20vw;
    height: 100vh;
    background: #23256A;
}
#search-box{
    width:20%;
    height: 50px;
    position:  absolute;
    top:0px;
    box-sizing: border-box;
    color:white;
    padding: 10px;
    display: flex;
    background-color: #0C0E3D;

}

.search-bar{
    height:30px;
    width:100%;
    border-radius: 14px;
    padding:0px 15px;
    padding-left: 30px;
    font-size: 17px;
    margin:auto;
    background: url(../img/search.png) no-repeat scroll 7px center;
    background-size: 15px;
    background-color:#D9D9D9;
}

/*change colors of search higlights*/
mark.highlight {
    background-color: white;
    color:black;
    border-radius: 2px;
}

::-webkit-scrollbar {
    display: none;
    }
#chats{
    width:100%;
    height:fit-content;
    margin:50px auto 0px 0px;
    overflow-y: scroll;
    max-height: calc(100vh - 120px);
}


.chat{
    height:75px;
    width:100%;
    background: #06071E;
    border-top: solid rgb(107, 107, 107) 1px;
    color:white;
    padding:7px;
    box-sizing: border-box;
    grid-template-columns: 50px auto 40px;
    display:none;
}
.visible{
    display: flex !important;
}
.chat:hover{
    background-color: #232442;
    cursor:pointer;
}
.pfp{
    width:40px;
    height:40px;
    border-radius: 100%;
    margin: auto 10px;
    grid-column: 1;
    vertical-align:middle;
}

.username{
    grid-column: 2;
    margin: auto 0px auto 0px;
    font-size: large;
    font-weight: bold;
}

.alert{
    height:30px;
    width:30px;
    margin:auto;
    display:none;
}
.urgent>.alert{
    display: flex;
}

#settings-box{
    width: 20%;
    height: 70px;
    background-color: #0C0E3D;
    position:  absolute;
    bottom:0px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
#settings-box>*{
    transform: translateY(-8px);
}
#settings-box > .pfp{
    grid-column: 1;
}
.current-user{
    grid-column: 2;
    color:white;
    font-size: 24px;
    height:fit-content;
    margin: auto;
    vertical-align: center;
}
#settings-button{
    grid-column: 3;
    width:30px;
    height: 30px;
    margin:auto;
    cursor: pointer;
}
#plus-button{
    grid-column: 4;
    width:30px;
    height: 30px;
    margin:auto;
    cursor: pointer;
}

#right-side{
    width:80%;
    height: 100vh;
}

#name-box{
    width:80%;
    height: 50px;
    background-color: #353772;
    position:  absolute;
    top:0px;
    box-sizing: border-box;
    color:white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#name-box>h2{
    margin:0px;
}

#edit-room-btn,#room-details-btn{
    width:30px;
    height: 30px;
    position: absolute;
    right:20px;
    top:10px;
    cursor: pointer;
}


#edit-room,#room-details{
    left: calc(50vw - 350px);
    bottom: calc(-50vh - 200px);
    width: 350px;
    /*display:inline-block;*/
}

#room-details{
    z-index:10000;
}
#room-details>h2{
    text-align: left;
    margin:10px 30px;
    font-weight: bolder;
}
#room-details>h3,#edit-room>h3{
    text-align: center;
    font-size: large;
}
/*grey out button if the current user is not an owner of this room*/
#room-details>#goto-edit-btn{
    pointer-events: none;
    background-color:#0C0E3D;
    color:rgb(71, 71, 71);
}

#room-details.owner>#goto-edit-btn{
    pointer-events: auto;
    background-color:#0C0E3D;
    color:white;
    background-color:#353772;
}

#room-details.owner>#goto-edit-btn:hover{
    background-color: white;
    color:#353772;
}
#room-details.owner>#goto-edit-btn:active{
    background-color:#0C0E3D;
}

#goto-edit-btn>img{
    width:20px;
    height:20px;
    transform: translateY(-3px);
}

#messages{
    margin-top: 50px;
    padding:10px;
    overflow-y: scroll;
    max-height: calc(100vh - 120px);
}
.message{
    color:white;
    display: grid;
    grid-template-columns: 50px auto;

}
.message-text{
    grid-column: 2;
    line-height: 40px;
}
#input{/*removed so i can use vue chatform*/
    display:none !important;
}
#input,.card-footer{ /*vue chatform elements added to this*/
    width:80%;
    height: 70px;
    background-color: #353772;
    position:  absolute;
    bottom:0px;
    box-sizing: border-box;
    display: flex;
    padding:15px

}

.card-footer{
    width:100%;
}

#input>img{
    height:30px;
    width:30px;
    margin:0px 10px;
}
#send-button,#btn-chat{/*vue chatform elements added to this*/
    transform: translatey(2px);
}

#btn-chat{  /*vue chatform elements added to this*/
    height:30px;
    width:60px;
    margin:0px 10px;
    background-color:#353772;
    border:white 1px solid;
}
#btn-chat:hover{
    background-color: white;
    color: #353772;
}
#send-button:hover{
    cursor:pointer;
    content:url("img/send2hover.png");
    transition-delay: 1000ms;
}
#attach-button{
    transform: translatey(2px);
}
#attach-button:hover{
    cursor:pointer;
    content:url("img/attachhover.png")
}
#message-box,#btn-input{ /*vue chatform elements added to this*/
    height:30px;
    width:90%;
    border-radius: 14px;
    padding:0px 15px;
    font-size: 17px;
}

#btn-input{
    flex: none; /* override the flex attribute from app.css:3296 so I can modify the vue chatform input width*/
    width:92%;
}


/*removes blue outline when input boxes are in focus*/
textarea:focus, input:focus{
    outline: none;
}

.shake{ /*objects with this class name shake*/
    /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: 1;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
    }

/* Custom scrollbar style for WebKit-based browsers */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #06071E;
}

::-webkit-scrollbar-thumb {
  background-color: #353772
;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #353772
;
}

/* Custom scrollbar style for Firefox-based browsers */
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #353772 #06071E;
  overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #353772
;
  border-radius: 5px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #353772
;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #06071E;
}

.scrollbar::-moz-scrollbar-thumb {
  background-color: #353772
;
  border-radius: 5px;
}

.scrollbar::-moz-scrollbar-thumb:hover {
  background-color: #353772
;
}

.scrollbar::-moz-scrollbar-track {
  background-color: #06071E;
}


/* added after merginng with larave
*{
    border:red solid 2px;
}*/
#app{
    min-width: 100%;
    width:100%;
}
#jules{
    margin:0px;
    padding:0px;
    width:100vw;
    min-width: 100%;
}
body{
    width:100vw;
}
#left-side{
    height:calc(100vh - 120px);
}
#right-side{
    width:80%;
    position:absolute;
    left:20%;
    top:0%;
}
#name-box{
    width:100%;
    z-index: 999;
}
#input{
    width:100%;
}

#message-import{
    width:100%;
    position:absolute;
    margin-top:0px;
    padding:0px !important; /*!Jules: important to override the padding in app.css*/
}
.container{
    position:absolute;
    top:0px;
    min-width:100vw;
    margin:0px;
    padding:0px;
    height:calc(100vh - 0px);
}

.card{
    border:none;
    border-radius: 0px;
    min-width:100%;
    height:100%;
}

#select-new{
    height: 110px;
    width: 220px;
    left: 83%;
    bottom: 56px;
    z-index: 999;
    border-radius: 0;
}

#select-new>button{
    margin:10px auto;
}

#settings{
    height:fit-content;
    width:200px;
    bottom: 56px;
    left: 63%;
}
#settings>button{
    width:90%;
}
#uname-box{
    display: none;
}
#uname{
    height:40px;
    font-size: 30px;
}

.room>.card-body{
    min-width:100%;
    width:100vw;
    height:calc(100vh - 190px);
    max-height:calc(100vh - 120px);
    margin-top: 50px;
    padding:0px;
    background-color: #0C0E3D;
    color:white;
}

.room>.card-body>div>ul{
    height:calc(100vh - 120px);
    overflow-y: scroll;
    margin:0px;
}

.room>.card-footer{
    border:none;
    border-radius: 0;
    width:80vw;
    right:0px;
}


.rooms{
    position:absolute;
    top:50px;
    left:0%;
    height: calc(100vh - 120px);
    width:20vw;
    padding:0px;
}

.room{

}
.room:hover>.username{
    text-decoration:none !important;
}
ul{
    list-style: none;
}

#message-list,#room-list{
    max-height: calc(100vh - 120px);

}

#message-list{
    margin-top:50px;
}

.overlay{
    width:350px;
    height:400px;
    position:absolute;
    transform: translateY(0px);
    left:calc(50vw - 175px);
    bottom:calc(50vh - 200px);
    background-color: #06071E;
    z-index: 500;
    display:none;
    transform:translateY(-8px);
}
.name-box{
    width:fit-content;
    margin:10px auto;
}

.name-box>img{
    width:15px;
    height:15px;
}

.resizing-input{
    font-size: large;
    background-color: #06071E;
    color:white;
    border:none;
    text-decoration: underline;
}

#fsearch-bar{
    position: relative;
    display: block;
    width:280px;
    margin:20px auto;
}

#list-grid{
    height:200px;
}

#friend-list,#user-list{
    width:fit-content;
    height:fit-content;
    max-height: 200px;
    list-style-type: none;
    padding: 0;
    margin: 10px 20px;
    justify-content: space-between;
}

#user-list{
    float:left;
}

.friend{
    position: relative;
    width:300px;
    height:40px;
    display: flex;
    padding:5px 20px;
    border-radius: 5px;
    display: none;
    color:rgb(204, 204, 204);
}
.friend:hover{
    background-color: #141641;
}
.friend>img{
    margin-left:auto;
    margin-right:0px;
    float:right;
}

.crown-icon{
    display: none;
}

.owner>.crown-icon{
    display: block;
}

.added-button{
    display: none;
}

.added>.added-button{
    display:block;
}

.added>.add-button{
    display:none;
}

#select-edit,#undo-edit{
    height:40px;
    width:fit-content;
    display:grid;
    grid-template-columns: auto auto;
    left:0vw;
}

#select-edit>button,#undo-edit>button{
    width: 115px;
    height: 30px;
    margin: 5px 5px;
}

.overlay-btn,.overlay>button{
    display: block;
    width:200px;
    height:40px;
    margin:20px auto;
    border-radius: 5px;
    font-size: large;
    color:white;
    background-color:#353772;
    border:none;
}
.overlay-btn,.overlay>button:hover{
    background-color: white;
    color:#353772;
}
.overlay-btn,.overlay>button:active{
    background-color:#0C0E3D;
}

#tint{
    position:fixed;
    height:110vh;
    width:100vw;
    top:0;
    right:0;
    background-color: rgba(red, green, blue, 0.5);
    z-index: 499;
    overflow: hidden;
    display:none;
}
#add-friend{
    width:300px;
    height:120px;
    display:block;
    left: 83%;
    bottom: 56px;
    padding:10px;
}



.email-bar{
    height:30px;
    width:100%;
    border-radius: 14px;
    padding:0px 15px;
    font-size: 17px;
    margin:auto;
    background-size: 15px;
    background-color:#D9D9D9;

}

.room-alert{
    height:200px;
    bottom:40vh;
    border-radius: 14px;
}
#edit-room-alert{
    bottom:-50vh;
    left: 24vw;
}
.room-alert>*{
    height:100px;
    width:100px;
    margin:10px auto;
    display: block;
}

.room-alert>h1{
    width:fit-content;
}

/*formatting the landing page that shows up when the user is not in any rooms*/
#landing-room{
    padding:10%;
    user-select: none;
}

#landing-room>h2{
    user-select: none;
}

#landing-new-room{
    text-decoration:underline;
    cursor:pointer;
    user-select: none;
}

/*message input modifications*/

/*formatting the auxilliary pages like the home page and sign in page

/*row div on the home page*/
#home-row, #login-row,.row{
    width:100vw;
    margin:50px 0px;
}

#home-card, #login-card,.card{
    background-color:#141641;
    color:white;
}

#home-card>.card-header,#login-card>.card-header,.card>.card-header{
    background-color: #353772;
}

.form-group.row{
    width:100%;
}


.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#all-chats{
    max-height: calc(100vh - 120px);
}

/*link from the login page to the register page and vice versa*/
#login-register{
    margin-top:30px;
}

